.pet-details {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .row {
        max-height: 128px;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;

        label {
            min-width: 128px;
            width: fit-content;
        }

        .col-sm-10 {
            display: flex;
            justify-content: flex-start;
            flex: 1;
            gap: 12px;

            p {
                padding-right: 2px !important;
            }

            p,
            textarea {
                min-height: 50px;
                overflow-y: auto;
                padding: 0;
            }

            .btn {
                width: 20px;
                aspect-ratio: 1;
            }
        }
    }
}