.form-check {
    display: flex;
    align-items: center;
    gap: 6px;

    label {
        display: flex;
        gap: 6px;

        p {
            margin: auto 0;
        }
    }

    .form-control {
        width: fit-content;
    }
}

.pet-selector {
    .animal-icon {
        width: 20px;
        aspect-ratio: 1;
        margin-right: 4px;
    }
}

.weight-selector {
    padding-top: 20px;

    .input-group {
        .pet-name {
            width: 30%;
            overflow: hidden;
            text-overflow: ellipsis;
            display:inline-block;
        }
    }
}