.navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.navbar .container-fluid {
    justify-content: space-around;
}

.btn-nav {
    width: 32px;
    aspect-ratio: 1;

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

.btn-home {
    background-image: url(../../../../public/assets/icons/house.svg);

    &:hover {
        background-image: url(../../../../public/assets/icons/house-fill.svg);
    }
}

.btn-new-entry {
    background-image: url(../../../../public/assets/icons/plus-circle.svg);

    &:hover {
        background-image: url(../../../../public/assets/icons/plus-circle-fill.svg);
    }
}

.btn-settings {
    background-image: url(../../../../public/assets/icons/gear.svg);

    &:hover {
        background-image: url(../../../../public/assets/icons/gear-fill.svg);
    }
}