:root {
  --background: #f2f2f2;
  --white: #ffffff;
  --black: #241e12f2;
  --light-gray: #f8f9fa;
  --gray: #a2a2a2;
  --main-light: #7597c5;
  --main-dark: #4f75b3;
  --warning: #b05a6d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 100dvb;
  height: 100vh;
  margin: 0;
  background-color: var(--background);
  font-family: "Delius-Regular", sans-serif;
  font-weight: 500;
  color: var(--black);
}

main {
  max-width: 100dvb;
  min-height: 100dvh;
}

.page {
  .content {
    max-width: 100dvb;
    padding: 24px 32px 72px 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-primary,
.form-check-input:checked,
.btn.active,
.btn.show,
.dropdown-item.active {
  background-color: var(--main-dark);
  border-color: var(--main-dark);

  &:hover {
    background-color: var(--main-light);
    border-color: var(--main-light);
  }
}

h1 {
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  color: var(--main-dark);
  margin: 0;
  align-content: center;
}

h2 {
  padding-top: 16px;
}

@font-face {
  font-family: "Delius-Regular";
  src: url("../public/assets/fonts/Delius-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../public/assets/fonts/Inter_28pt-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../public/assets/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}