.pet-detail-page {
    h1 {
        padding-top: 8px;
        font-size: 36px;
    }

    .pet-average-weight {
        padding-top: 16px;
    }
}

.warning-badge {
    position: absolute;
    right: 32px;
    width: 40%;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--warning);
    border-radius: 12px;

    p {
        margin: 0;
        line-height: 1.1;
        font-size: 14px;
        text-align: end;
    }
}

.pet-weights-overview {
    max-width: 560px;
    margin: 0 auto;
    padding: 0 12px;
    align-self: center;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;

    h2 {
        font-family: "Delius-Regular", sans-serif;
        font-size: 24px;
        font-weight: 600;
        padding: 0;
    }

    h3 {
        padding-left: 8px;
        font-family: "Delius-Regular", sans-serif;
        font-size: 20px;
        font-weight: 600;
    }
}

.pet-weights-month {
    padding: 4px 0 16px 0;

    li:nth-child(odd) {
        background-color: var(--white);
    }

    li {
        padding: 6px 20px;
        display: flex;
        border-radius: 16px;
        font-size: 20px;

        .pet-date {
            width: 50%;
            font-variant-numeric: tabular-nums;
            font-feature-settings: "tnum";
        }

        .pet-weight {
            width: 50%;
            text-align-last: end;
        }
    }
}