.pet-detail-page {
    padding: 24px 8px 72px 8px;

    header {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 16px;

        a {
            height: 40px;
            aspect-ratio: 1;

            .btn-back {
                width: 100%;
                aspect-ratio: 1;
                background-image: url(../../../public/assets/icons/arrow-left-circle.svg);

                &:hover {
                    background-image: url(../../../public/assets/icons/arrow-left-circle-fill.svg);
                }
            }

        }

        h1 {
            font-size: 36px;
        }
    }

    .pet-average-weight {
        padding-top: 16px;
    }
}

.pet-detail-overview {
    padding: 0px 24px 0px 24px;
}

.warning-badge {
    position: absolute;
    right: 32px;
    max-width: 40%;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--warning);
    border-radius: 12px;

    p {
        margin: 0;
        line-height: 1.1;
        font-size: 14px;
        text-align: end;
    }
}

.weight-chart {
    min-height: 240px;
    padding: 12px 0;
    position: sticky;
    top: 0px;
    background-color: var(--background);

    .selected-weight {
        padding: 0 24px;
    }
}

.pet-weights-overview {
    padding: 0px 24px 12px 24px;
    max-width: 560px;
    margin: 0 auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;

    h2 {
        font-family: "Delius-Regular", sans-serif;
        font-size: 24px;
        font-weight: 600;
        padding: 0;
    }

    h3 {
        padding-left: 8px;
        font-family: "Delius-Regular", sans-serif;
        font-size: 20px;
        font-weight: 600;
    }
}

.pet-weights-month {
    padding: 4px 0 16px 0;

    li:nth-child(odd) {
        background-color: var(--white);
    }

    li {
        padding: 4px 16px;
        display: flex;
        border: 4px solid transparent;
        border-radius: 16px;
        font-size: 20px;
        cursor: pointer;

        .pet-date {
            width: 50%;
            font-variant-numeric: tabular-nums;
            font-feature-settings: "tnum";
        }

        .pet-weight {
            width: 50%;
            text-align-last: end;
        }
    }

    li:hover {
        border: 4px solid var(--main-light);
    }

}

.pet-details {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .row {
        max-height: 128px;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;

        label {
            min-width: 128px;
            width: fit-content;
        }

        .col-sm-10 {
            display: flex;
            justify-content: flex-start;
            flex: 1;
            gap: 12px;

            p {
                padding-right: 2px !important;
            }

            p, textarea {
                min-height: 50px;
                overflow-y: auto;
                padding: 0;
            }

            button {
                height: fit-content;
            }
        }
    }
}