.logo-container {
    display: flex;

    .logo {
        aspect-ratio: 1;
        width: 50%;
    }

    div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        p {
            font-size: 40px;
            line-height: 0.8;
            font-weight: 700;
        }
    }
}

.pets-list {
    min-height: calc(100dvh - 48px);
    width: 80%;
    padding-top: 48px;
    gap: 16px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}